.card {
  border-radius: 8px;
  padding: 16px;

  color: var(--text);
  background-color: var(--button-bg);

  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
