.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9fafb;
}


.main {
  flex: 1; 
  padding: 20px 40px; 
}
