.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.item {
  display: flex;
}


.card {
  background-color: var(--bg);
  color: var(--text);

  padding: 16px;
  border-radius: 12px;

  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.05),
    0 4px 6px rgba(0, 0, 0, 0.05);
}

.clickable {
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.clickable:hover {
  transform: translateY(-1px);
  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.1);
}
