.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 40px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.title {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
}

.nav {
  display: flex;
  gap: 0 10px;
}
